[Unit]
Description=MySQL Server (Pure Default Mode)
After=network.target

[Service]
Type=simple
User=mysql
Group=mysql

StateDirectory=mysqld
StateDirectoryMode=0740

LogsDirectory=mysqld
LogsDirectoryMode=0740

RuntimeDirectory=mysqld
RuntimeDirectoryMode=0751

ExecStart=/usr/local/mysql/bin/mysqld

LimitNOFILE=10000
LimitMEMLOCK=infinity

TimeoutSec=300
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
