公司有 5 个部门, 分别是财务部 AccountingDepartment, 工程部 EngineeringDepartment, 
领导部门 LeadershipDepartment, 技术部 TechnologyDepartment, 销售部 SalesDepartment

1. 首先每个部门有一个部门目录，除了管理员可以管理其中文件和目录外，其他人只能在自己的用户目录和部门共享目录活动

2. 首先服务器采用用户验证的方式, 每个部门目录下有个 users 目录，每个用户在其中有一个个人目录,
    并且只有该用户能访问宿主目录, 并具有完全的权限, 而其他部门和相同部门的人员不能访问。

3. 各个部门目录中有自己独立的共享目录 share, 并且只能由本部门的员工和领导人员可以访问, 员工可以写自
    己的数据和删除数据, 但别人不能修改其他员工的数据,但领导部门可以访问所有部门的共享目录。

4. 建立一个文件交换目录 company_xchange, 所有人都能读写, 包括 guest 用户, 但每个人不能删除别人的文件。

5. 建立一个公共的只读文件夹 public, 除了管理员用户，所有人都只读这个文件夹的内容。
