[client]
socket                          = /var/run/mysqld/mysql.sock

[mysqld]
# ------------------------- 基础路径 -------------------------
basedir                         = /usr/local/mysql
datadir                         = /var/lib/mysqld/data
socket                          = /var/run/mysqld/mysql.sock
pid-file                        = /var/run/mysqld/mysqld.pid
port                            = 3306
user                            = mysql
lc-messages-dir 			    = /usr/local/mysql/share
plugin-dir                      = /usr/local/mysql/lib/plugin

# ------------------------- 安全与认证 (最小化暴露) -------------------------
bind-address                    = 127.0.0.1
# mysqlx_bind_address             = 127.0.0.1
skip-name-resolve
default-authentication-plugin   = mysql_native_password
require_secure_transport        = ON

# ------------------------- 日志 (功能完备与审计) -------------------------
log-error                       = /var/log/mysqld/mysqld.log
general-log                     = OFF
slow-query-log                  = ON
slow-query-log-file             = /var/log/mysqld/mysql-slow.log
long_query_time                 = 1
log_queries_not_using_indexes   = ON

# ------------------------- 连接与资源限制 (防DoS) -------------------------
max_connections                 = 150
max_connect_errors              = 100
interactive_timeout             = 300
wait_timeout                    = 300
connect_timeout                 = 10

# ------------------------- 字符集与时区 (应用友好) -------------------------
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
default_time_zone               = '+8:00'

# ------------------------- 事务隔离级别 (数据一致性) -------------------------
transaction_isolation           = READ-COMMITTED
binlog_format                   = ROW
log_bin                         = /var/lib/mysqld/binlog/mysql-bin.log
expire_logs_days                = 7
gtid_mode                       = ON
enforce_gtid_consistency        = ON
server-id                       = 1

# ------------------------- InnoDB 核心性能 -------------------------
innodb_buffer_pool_size         = 1G
innodb_log_file_size            = 256M
innodb_flush_log_at_trx_commit  = 1
innodb_autoinc_lock_mode        = 2
